<header>
        <nav class="navbar">
            <ul>
                <li><a href="#" class="open fas fa-bars" id="icon"></a></li>
            </ul>
        </nav>
            
            <nav id="side-menu" class="side-nav">
                <ul>
                        <li><a href="#" class="btn-close">&times;</a></li>
                        <li><a href="/dashborad">dashboardforside</a></li>
                        <li><a href="/dashborad/menu">menu</a></li>
                        <li><a href="/dashborad/article">article</a></li>
                        <li><a href="/dashborad/users">bruger</a></li>
                </ul>
                <section>
                    <img src="/media/binary-1327493_640.jpg" alt="profile">
                    <% if (typeof username != "undefined"){ %>
                        <p>log på som <%= username %></p>
                        <% } %>
                        <% if (login === false) {  %>
                            <li role="menuitem"><a href="/login">logpå</a></li>
                            <% } else { %>
                            <li role="menuitem"><a href="/logout">logud</a></li>
                            <% } %>
                </section>
            </nav>
</header>