<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="login">
    <main id="login">
        <form action="/login" method="POST">
            <label for="username">brugernavn</label>
            <input type="text" name="username" value="<%= (typeof username != 'undefined')? username: '' %>">
            <label for="password">password</label>
            <input type="password" name="passphrase">
            <p>
                <%= (typeof  errorMessage != "undefined") ?  errorMessage : '' %>
            </p>
            <button type="submit">login</button>
        </form>
        <section>
            <h3>login og skab dit ejet indhold</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, nobis!</p>
        </section>
    </main>
    <p class="message"></p>
    <script src="/js/loginform.js"></script>
</body>

</html>