*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*header*/
header{
    width: 100%;
    background-color: #000;
}
.client nav{
display: flex;
}
.client nav ul li{
 list-style: none;
 display: inline-block;
 margin: 0px 20px;
}
.client nav ul  li a{
 text-decoration: none;
 color: #fff;
}

body {
    font-family: "Arial", Serif;
    background-color: darkgray;
    overflow-x: hidden;
}

.navbar {
    background-color: #3b5998;
    overflow: hidden;
    height: 63px;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar ul {
    margin: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: #000;
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
}

.side-nav .btn-close {
    position: absolute;
    top: 0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}
.images{
    width: auto;
    height: 40px;
}

@media(max-width:568px) {
    .navbar-nav {
        display: none
    }
}

@media(min-width:568px) {
    /*.open-slide{display:none}*/
}

/*tabel*/
table {
    width: 100%;
    margin: 0 auto;
}

tr {
    display: flex;
}

th,
td {
    flex: 1;
    text-align: left;
}

.button {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin-left: 80%;
}
/*update box delete button*/
#uploadfield{
    background: #F00;
}
.deletebox{
position: fixed;
top: 50%;
left: 40%;
width: 30%;
height: 30vh;
z-index: 999;
transform: translate(-50%, -50%);
border: solid 1px #000;
text-align: center;
display: none;
}
.updatebox{
position: fixed;
top: 50%;
left: 40%;
width: 30%;
height: 30vh;
z-index: 999;
transform: translate(-50%, -50%);
border: solid 1px #000;
text-align: center;
display: none;
}
.delete{
background: #f00;
color: #fff;
}
.updatebtn{
border: none;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
background: #00f;
color: #fff;  
}
.button-extra{
border: none;
padding: 15px 32px;
text-align: center;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}

#uploadbutton{
    position: relative;
}

#uploadbutton>figure{
    position: absolute;
    height: 3em;
    padding: calc(1em) 2.5em 0;
    background: #F55;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

#uploadbutton>input{
    opacity: 0;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .button {
        margin-left: 60%;
    }
}
@media screen and (max-width: 500px) {
    .button {
        padding: 15px 25px;
        margin-left: 50%;
    }
}
@media screen and (max-width: 320px) {
    .button {
        padding: 10px 20px;
        margin-left: 50%;
        margin: 1px 1px;
    }
    td {
    text-align: center;
}
}
/* form create the dashborad content*/
.create label{
    text-align: center;
    display: block;
    margin-bottom: 2%;
}
.create input{
    width: 80%;
    padding: 12px 20px;
     margin: 8px 0;
    display: block;
    margin: 0  auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}
.create select{
    margin: 0 auto;
    margin-bottom: 2%;
}
#uploadfield{
   border: none; 
   display: block;
   margin: 0 auto;
   margin-bottom: 2%;
}
.create button{
    display: block;
    padding: 15px 30px;
    margin: 0 auto;
    margin-bottom: 2%;
}
.create textarea{
    resize: none;
    height: 6em;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    background-color: white;
    border: none;
    font-size: 1.2em;
}

/*----------------------------------------------for the login form---------------------------------------------------------------------------------------------------*/
#login{
    display: flex;
    }
    #login form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom: 1rem;
    
    }
    form label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
    color: #000;
    }
    form input{
        width: 50%;;
        padding: 12px 20px;
        margin: 8px 0;
    
    }
    #login section{
    width: 50%;
    }
    section h3, p {
    color: #000;
    }
/*----------------------------------------------for the login form end----------------------------------------------------------------------------------------------*/