<% include partials/dashborad_head.ejs %>


<% include partials/dashborad_header.ejs %>
<main id="main">
    <h1>Velkommen til  dit administrations panel</h1>
</main>
<% include partials/dashborad_afterfooter.ejs %>